/* CSS NAVBAR */
.navbar {
  background: transparent !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.scrolled {
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75); }

.navbar .dropdown .btn {
  background: transparent;
  border-color: transparent; }

.navbar .img-black {
  display: none; }

.navbar .dropdown .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.navbar .dropdown .dropdown-menu {
  left: -60px !important; }

.navbar .dropdown .dropdown-menu {
  background: rgba(66, 54, 54, 0.411);
  border: none; }

.navbar .dropdown .dropdown-menu a {
  color: #fff;
  font-size: 12px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.navbar .btn-secondary:not(:disabled):not(.disabled):active {
  border: transparent;
  background: transparent; }

.navbar .dropdown .dropdown-menu a:hover {
  background: #1d100c; }

/* CSS HEADER CAROUSEL */
.carousel-header {
  height: 950px; }

.carousel-header .item-1 {
  background: url("../images/auditorio.jpg") no-repeat center;
  background-size: cover;
  height: 950px;
  color: #fff; }

.carousel-header .item-2 {
  background: url("../images/mochis torre.jpg") no-repeat center;
  background-size: cover;
  height: 950px; }

/* CSS CONT CAROUSEL*/
.cont-car {
  top: 0;
  z-index: 3;
  height: 950px; }

.cont-car .t-1,
.cont-car .t-1 {
  font-size: 120px;
  font-weight: 700;
  color: #fff; }

.cont-car .t-2,
.cont-car .t-2 {
  font-size: 50px;
  font-weight: 100;
  color: #fff; }

/* CSS QUIENES SOMOS */
.q-somos .t-light {
  font-weight: 100;
  font-size: 50px; }

.q-somos .tedx {
  font-weight: 700;
  font-size: 25px; }

.q-somos .tedx .red {
  color: #dd0209; }

/* CSS BANNER */
.banner {
  background: url("../images/focos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px; }

.banner h1 {
  font-size: 70px;
  color: #fff; }

/* CSS INFO */
.info .t-light {
  font-weight: 100;
  font-size: 50px; }

/* CSS CONTACTO */
.contacto {
  background: url("../images/x-fondo-negro.png") center;
  background-repeat: no-repeat;
  background-size: cover; }

#buy{
   float: right;
}

.contacto h1,
.contacto h3,
.contacto h6 {
  color: #fff; }

/* RESPONSIVE */
@media (max-width: 810px) {
  .navbar .dropdown .dropdown-menu {
    left: -130px !important; } }
@media (max-width: 768px) {
  .footer p,
  .footer ul {
    text-align: center !important; } }
@media (max-width: 510px) {
  .navbar .navbar-brand img {
    width: 200px; }

  .carousel-header {
    height: 480px; }

  .carousel-header .item-1 {
    height: 480px; }

  .carousel-header .item-2 {
    height: 480px; }

  .cont-car {
    height: 480px; }

  .cont-car .t-1,
  .cont-car .t-1 {
    font-size: 50px;
    font-weight: 700; }

  .cont-car .t-2,
  .cont-car .t-2 {
    font-size: 30px;
    font-weight: 100; }

  .q-somos .t-light {
    font-size: 40px; }

  .q-somos .tedx {
    font-size: 20px; }

  .q-somos p.m-0 {
    font-size: 15px; }

  .banner h1 {
    font-size: 40px; }

  .info p {
    font-size: 15px; }

  .contacto h1 {
    line-height: 35px;
    margin-top: 45px; }

  .contacto h3 {
    margin-top: 15px !important; }

  .contacto img {
    width: 250px; } }
@media (max-width: 340px) {
  .navbar .navbar-brand img {
    width: 150px; } }
